{% if site.teachings %}
  <div class="courses">
    {% assign sorted_courses = site.teachings | sort: 'importance' %}
    <div class="row row-cols-1 row-cols-md-2">
      {% for course in sorted_courses %}
        <div class="col mb-4">
          <a href="{{ course.url | relative_url }}">
            <div class="card h-100 hoverable">
              <div class="card-body">
                <h3 class="card-title">{{ course.title }}</h3>
                {% if course.term %}
                  <p class="card-text text-muted mb-2"><small>{{ course.term }}</small></p>
                {% endif %}
                {% if course.description %}
                  <p class="card-text">{{ course.description }}</p>
                {% endif %}
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% else %}
  <p>No courses available yet.</p>
{% endif %}
